.config/tmp
.config/BraveSoftware
.config/pulse
.local/*
!.local/bin
!.local/share/applications
!.local/share/fonts
!.local/share/naps
!.local/share/bg
!.local/share/*.jpg

.config/*
!.config/crontab
..config/crontab/cron.h-hour/borgmatic.sh
!.config/nvim
.config/nvim/plugged

!.config/alacritty
!.config/dconf
!.config/dunst
!.config/fontconfig
!.config/git
!.config/gtk-3.0
!.config/htop
!.config/i3
!.config/i3blocks
!.config/lf
!.config/mpv
!.config/neofetch
!.config/picom
!.config/polybar
!.config/rofi
!.config/shell
!.config/x11
!.config/zathura
!.config/zsh
!.config/mimeapps.list
